{% extends "base.html.twig" %}
{% block navbar %}{% endblock %}


{% block body %}
	<div class="login-body">
		<a href="/"><img class="login-logo m-4" src="{{ asset('build/images/Logo.png') }}" alt=""></a>


		<div class="row m-0">


			<div class="log-content offset-lg-1 offset-md-1 offset-sm-1 col-lg-6 col-sm-10">
				<div class="display-6 text-center mb-2 text-white">Create account</div>
				<p class="text-center text-white">Already have an account ?
					<a href="/login">Log in!</a>
				</p>

				<div class="offset-lg-2 offset-md-0 col-lg-8 ">
					{{form_start(form)}}
					{{form_row(form.username)}}
					{{form_widget(form.password,{'attr':{"style":"color:white"}})}}
					<p class="text-white mt-2 text-center">By creating an account, i agree with SneakersDeal's
						<a href="">Privacy Policy</a>
						and
						<a href="">Terms of Service</a>
					</p>
				</div>


				<div class="text-center mt-3">
					<input type="submit" value="Create account" class="form-btn btn btn-primary">

				</div>
				{{form_end(form)}}

			</div>
			<img style="" class="Shoe col-4 img-fluid" src="{{ asset('build/images/AF1-LV.png') }}" alt="">


		</div>
	</div>

{% endblock %}
