{% extends 'base.html.twig' %}

{% block title %}Hello ArtcileController!
{% endblock %}

{% block body %}

	<div class="form-create">
		{{ form_start(form) }}
		{{form_row(form.title)}}
		{{form_row(form.image)}}
		{{form_row(form.price)}}
		{{form_row(form.ReleaseDate)}}

		<div class="text-center mt-3">
			<input type="submit" value="Créer" class="btn btn-primary ">

		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
