{% extends "base.html.twig" %}


{% block title %}
	{{ product.title }}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
		$(document).on('click', "#product-like", function (e) {
e.preventDefault();

var url = $(this).attr('href');
var entityId = $(this).attr('data-entity-id')
var csrfToken = $(this).attr('data-csrf-token')
var isLiked = $(this).attr('data-liked')

if (isLiked == "0") {
$(this).attr('data-liked', 1);
$('.like-btn').addClass("liked").text(" Unlike")
} else {
$(this).attr('data-liked', 0);
$('.like-btn').removeClass("liked").text(" Like")
}
$.ajax({
type: 'POST',
dataType: 'json',
data: {
'entityId': entityId,
'csrfToken': csrfToken
},
url: url,
success: function () {
console.log('succes')
},
error: function () { // do something like reset icon
console.log("didnt work")
}
});
})
	</script>
{% endblock %}

{% block body %}
	<div class="product-page container text-white">
		<div class="row mt-3 mb-4">
			<div class="col-md-4">
				<img src="/uploads/{{product.image}}" alt="{{ product.title }}" class="img-fluid">
			</div>
			<div class="col-md-8">
				<h1 class="mt-4 mt-md-0">{{ product.title }}</h1>
				<h2>{{ product.price }}
					€</h2>
				<hr>
				{{form_start(form)}}

				<div class="add-cart-like-btn">
					{{form_label(form.quantity)}}
					{{form_widget(form.quantity, {
					"attr" : {'class' : "form-select"},
				})}}
					{% if is_granted('IS_AUTHENTICATED') %}
						<a class="like-btn-link" href="{{path('front_product_like_unlike')}}" id='product-like' data-entity-id="{{ product.id }}" data-csrf-token="{{ csrf_token('product' ~ product.id) }}" data-liked="{{ isProductAlreadyLiked == true ? '1' : '0' }}">&nbsp;

							<i class="like-btn fa-solid fa-heart {{isProductAlreadyLiked == product.id ? 'liked ' : '' }} ">
								{{ isProductAlreadyLiked == product.id ? ' Unlike' : ' Like' }}
							</i>


						</a>
					{% endif %}
					{{form_widget(form.add,
				{
					'attr' :{ 
						'class':(is_granted('IS_AUTHENTICATED')?'':'disabled') 
					},
					'row_attr' :{ 
						'class': "btn-to-cart" 
					}
				})}}

					{{form_end(form)}}

				</div>
			</div>
		</div>

	</div>
{% endblock %}
