{% extends 'base.html.twig' %}

{% block title %}SneakersDeal
{% endblock %}


{% block body  %}
	
	<div class="container">
		<div class="main-page-div row text-white bg-dark mx-auto pe-0 border rounded-1">
			<div class="col-md-12 col-lg-5 my-5 ">
				<p class="display-2 fw-bold ms-4 ">
					Your
					<span class="text-primary">sneakers</span>
					to the best price and in a
					<span class="text-primary">secured</span>
					way
				</p>
			</div>
			<div class="col-md-0 col-lg p-0 text-end mt-3">
				<img class="p-0 mt-5 ms-3 m	" src="{{asset('build/images/Jordan1.png')}}" alt="shoes">
			</div>
		</div>

		<div class="brand-cards mt-5">
			<a href="/nike" class="card-logo">
				<img src={{asset('/build/images/Nike-logo.png')}} alt="">
			</a>
			<a href="/adidas" class="card-logo">
				<img src={{asset('/build/images/Adidas-logo.png')}} alt="">
			</a>
			<a href="/new_balance" class="card-logo">
				<img src={{asset('/build/images/New-Balance-logo.png')}} alt="">
			</a>
			<a href="/jordan" class="card-logo">
				<img src={{asset('/build/images/Jordan-logo.png')}} alt="">
			</a>
		</div>
		<div class="section-drops">
			<div class="section-drop-title  display-5 fw-bold">
				<a href="/drops" class="text-decoration-none">
					Next Drops
				</a>
			</div>
			<div class="drops-carrousel">
				<div class="container-carrousel">
					{% for item in drops %}


						<input type="radio" name="slider" id="item-{{loop.index}}" {% if (loop.index == 1) %} checked {% endif %}>
					{% endfor %}
					<div class="cards">
						{% for item in drops %}


							<label for="item-{{loop.index}}" class="card-carrousel" id="song-{{loop.index}}">
								<img src='uploads/{{item.image}}' alt="{{item.title}}">
							</label>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="high-rate">
			<h3 class="high-rate-title">People's interest</h3>
			<div class="high-rate-content container">
				{% for item in products %}
					<a href="/product/{{item.id}}" class="product-card">
						<img src='/uploads/{{item.image}}' alt="">
						<div class="product-card-body ">
							<div class="container text-truncate">
								<div class="product-card-title">
									{{item.title}}
								</div>
								<div class="product-card-text">
									{{item.price}}$
								</div>
							</div>
						</div>
					</a>
					
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
