<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>


		{# <div class="container">
									<input type="radio" name="slider" id="item-1" checked>
									<input type="radio" name="slider" id="item-2">
									<input type="radio" name="slider" id="item-3">
									<div class="cards">
										<label class="card" for="item-1" id="song-1">
											<img src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="song">
										</label>
										<label class="card" for="item-2" id="song-2">
											<img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
										</label>
										<label class="card" for="item-3" id="song-3">
											<img src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="song">
										</label>
									</div>
								</div> #}
		<div class="container-carrousel">
			{% for item in list %}


				<input type="radio" name="slider" id="item-{{item.id}}" {% if (item.id == list.0.id ) %} checked {% endif %}>
			{% endfor %}
			<div class="cards">
				{% for item in list %}


					<label for="item-{{item.id}}" class="card-carrousel" id="song-{{item.id}}">
						<img src="{{item.image}}" alt="{{item.title}}">
					</label>
				{% endfor %}
			</div>
		</div>
	</body>
</html></body></html>
